@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Prof. Ganderson Fan Club";
}

<h1>Prof. Ganderson Fan Site</h1>
<img id="picGanderson" src="img/ganderson.jpg" />
<p> Prof. Anderson (a.k.a. "Prof. Ganderson")</p>

<p> Pop Quiz: We love him because:</p>
<br />

<ul>
    <li>A: Flowing Hair</li>
    <li>B: Loves Bacon</li>
    <li>C: Easy exams</li>
    <li>D: Just an awesome person</li>
    <li>E: All of the above hey</li>
</ul>
